<header class="container navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
        <img class="d-block" src="{{ absolute_url( asset('/img/snowtricks.png')) }}" alt="SnowTricks">
    </a>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        {% block nav %}
            <li class="nav-item"><a class="nav-link p-2" href="{{ path('home') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link p-2" href="{{ path('tricks') }}">Tricks</a></li>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a class="nav-link p-2" href="{{ path('admin') }}">Admin</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link p-2" href="{{ path('app_logout') }}">Sign out</a></li>
                <li class="nav-item"><a class="nav-link p-2" href="{{ path('profile') }}"><i class="fa fa-user"></i> </a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link p-2" href="{{ path('app_login') }}">Sign in</a></li>
                <li class="nav-item"><a class="nav-link p-2" href="{{ path('app_register') }}">Sign up</a></li>
            {% endif %}
        {% endblock %}
    </ul>
</header>