<header>
    <nav class="navbar navbar-expand-lg navbar-dark flex-column flex-md-row bd-navbar">
        <div class="container">
            <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
                <img class="d-block" src="{{ absolute_url( asset('/img/snowtricks.png')) }}" alt="SnowTricks">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 flex-row ml-md-auto d-md-flex">
                    {% block nav %}
                        <li class="nav-item"><a class="nav-link p-2" href="{{ path('home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link p-2" href="{{ path('tricks') }}">Tricks</a></li>
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a class="nav-link p-2" href="{{ path('admin') }}">Admin</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link p-2" href="{{ path('app_logout') }}">Sign out</a>
                            </li>
                            <li class="nav-item"><a class="nav-link mx-3 px-3 btn btn-primary"
                                                    href="{{ path('profile') }}"><i class="fa fa-user"></i>
                                </a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link p-2" href="{{ path('app_register') }}">Sign up</a>
                            </li>
                            <li class="nav-item"><a class="nav-link  mx-3 px-3 btn btn-primary"
                                                    href="{{ path('app_login') }}">Sign in</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
</header>