{% extends 'base.html.twig' %}
{% block title %} Category {{ category.getName}} {{ parent() }}{% endblock %}
{% block body %}
    {% for trick in category.getTricks %}
    {% if trick.getImage %}
        <img src="{{ absolute_url( asset( tricks_img_url ~ trick.getImage )) | imagine_filter('trick_thumb')  }}"
             alt="{{ trick.getName }}" title="{{ trick.getName }}">
    {% endif %}
        <a href="{{ path('show-trick', {'category': category.getSlug, 'trick': trick.getSlug}) }}">{{ trick.getName }}</a>
    {{ trick.getDescription }}
    {% for category in trick.getCategory %}
        [{{ category.getName }}]
    {% endfor %}
    {% for video in trick.getVideos %}
        [{{ video.url }}]
    {% endfor %}
     {% for image in trick.getImages %}
        <img src="{{ absolute_url( asset( tricks_img_url ~ image.getFileName )) | imagine_filter('trick_thumb')  }}"
             alt="{{ image.getName }}" title="{{ image.getName }}">
    {% endfor %}
    {% endfor %}
{% endblock %}
