{% extends 'base.html.twig' %}
{% block title %}Tricks {{ parent() }}{% endblock %}
{% block body %}
    {% for category in categories %}
        {{ category.getName }}
        <ul>
        {% for trick in category.getTricks %}
            <li>
            {% if trick.getImage %}
                <img src="{{ absolute_url( asset( tricks_img_url ~ trick.getImage )) | imagine_filter('trick_thumb')  }}" alt="{{ trick.getName }}">
            {% endif %}
            <a href="{{ path('show-trick', {'category': category.getSlug, 'trick': trick.getSlug}) }}">{{ trick.getName }}</a>
            [{% for category in trick.getCategory %}
            <a href="{{ path('category-tricks', {'category': category.getSlug}) }}">{{ category.getName }}</a>
            {% endfor %}]
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
