{% extends 'base.html.twig' %}
{% block title %} Password reset | {{ parent() }}{% endblock %}
{% block container %}
    <div class="container login-container">
        <h1 class="mb-5">Reset password</h1>
        <form method="post" class="login-form">
            <div class="form-group">
                {{ form_row(form.password) }}
            </div>
            <div class="form-group">
                {{ form_row(form.rePassword) }}
            </div>
            <div class="form-group">
                <div class="m-3"><a href="{{ path('app_login') }}">Cancel</a></div>
                <input type="hidden" name="_csrf_token" class="form-control" value="{{ csrf_token('authenticate') }}">
                {{ form_rest(form) }}
            </div>
        </form>
    </div>
{% endblock %}